<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="codemirrors/lib/codemirror.js"></script>
  <script src="codemirrors/addon/mode/simple.js"></script>
  <script src="codemirrors/addon/mode/multiplex.js"></script>
  <script src="codemirrors/addon/edit/matchbrackets.js"></script>
  <script src="codemirrors/mode/handlebars/handlebars.js"></script>
  <script src="data.js"></script>
  <script src="script.js"></script>

  <link rel="stylesheet" href="codemirrors/lib/codemirror.css">
  <link rel="stylesheet" href="style.css">
  <style>
  </style>
</head>

<body>
  <textarea id="template" rows="15" cols="100">
{{^marusia}}
✅ТУТ FIXZONE✅

🧡Цена: ✅ руб.

Ждем вас по адресу:
{{#addresses}}
🔹{{address}}{{#phone}}
☎️тел.: {{phone}}{{/phone}}
{{/addresses}}

❗Уважаемые подписчики, пожалуйста, уточняйте наличие и ассортимент в личных сообщениях.

#всепо150{{city}} #антикризисныймагазин #✅{{city}} #✅{{city}} #{{city}} #fixzone{{city}}
{{/marusia}}{{#marusia}}
✅ТУТ МАРУСЯ✅
  
💕цена: ✅ руб.
  
Ждем вас по адресу:
❣️г. Псков, ул. Коммунальная, д. 41, ТЦ Империал, 1 этаж
📲телефон для связи +7 (8112) 70-22-05

❗Уважаемые подписчики, пожалуйста, уточняйте наличие товара в личных сообщениях

#псков #империалпсков #косметикапсков #красотапсков
#✅псков #✅псков
{{/marusia}}</textarea>
  <div id="result"></div>
  <div id="progress">
    <div id="progress-done" style="width: 0%"></div>
    <div id="progress-text">0/0</div>
  </div>
</body>

</html>
